<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-item>
  <ion-button expand="block" fill="solid" shape="round" href="/asignaturas">
    Ver Asignaturas
  </ion-button>
</ion-item>
<ion-item>
  <ion-button expand="block" fill="solid" shape="round" href="/asistencia">
    Ver Asignaturas
  </ion-button>
</ion-item>
<ion-item>
  <ion-button expand="block" fill="solid" shape="round" href="/registrar-asistencia">
    Ver Asignaturas
  </ion-button>
</ion-item>
<ion-item>
  <ion-button expand="block" fill="solid" shape="round" href="/cambio-clave">
    Ver Asignaturas
  </ion-button>
</ion-item>
</ion-content>
