<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Cambio de Clave</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title>DuocUC</ion-title>
    <ion-buttons slot="end" (click)="funcionInformacion()">
      <ion-icon name="information-circle-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>