<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Registrar Asistencias</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="/assets/QR.PNG" *ngIf="mostrarImagen"></ion-img>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="camera" (click)="showImage()"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
